/* Where the 'cart' is */
.topnav{
    background-color: #F6F6F7;
    display: flex;
    justify-content: flex-end;
}

.topnav a {
    margin-right: 10px;
}

/* Split the page body into half, image on left, info on right */
.page-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Body image */
.page-body-image{
    /* Put image on left */
    flex: 1;
    width: 100%;

    text-align: center;
    min-width: 150px;
    flex-grow: 1;
}

#item-image{
    max-width: 100%;
    height: auto;
}

/* Body info */
.page-body-info{
    /* Put info on right */
    flex: 1;
    width: 100%;
    min-width: 150px;
    flex-grow: 1;

    /* Put info in the centre of its block */
    display: flex;
}

.flex-left{
    flex: 1;
}
.flex-right{
    flex: 1;
}

.page-body-info-block{
    max-width: 800px;
    flex: 20;
}

/* Change a button's colour if it's selected */
.selected{
    color: red !important;
}

/* Put shopping cart on the top right corner */
#cart-display{
    Position:absolute; 
    top:35px;
    right:5px;
    background-color: white;
}

/* Format cart items */
.cart-item{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.cart-img{
    /* Make image in the cart smaller */
    max-width: 100px;
    height: fit-content;

    flex: 1;
}

.item-info{
    flex: 3;
}

.add-to-cart:hover{
    background-color: #19aedc !important;
    transition: background-color .2s;
}